.frame-amazing{
	background: url("../img/tsukkomi/balloon_amazing.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-angry{
	background: url("../img/tsukkomi/balloon_angry.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-babble{
	background: url("../img/tsukkomi/balloon_babble.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-bone{
	background: url("../img/tsukkomi/balloon_bone.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-complain{
	background: url("../img/tsukkomi/balloon_complain.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-cry{
	background: url("../img/tsukkomi/balloon_cry.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-disappoint{
	background: url("../img/tsukkomi/balloon_disappoint.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-fire{
	background: url("../img/tsukkomi/balloon_fire.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-fun{
	background: url("../img/tsukkomi/balloon_fun.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-girl{
	background: url("../img/tsukkomi/balloon_girl.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-gum{
	background: url("../img/tsukkomi/balloon_gum.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-harisen{
	background: url("../img/tsukkomi/balloon_harisen.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-mike{
	background: url("../img/tsukkomi/balloon_mike.png") no-repeat;
	-webkit-transform: scale(1.0);
	textarea{
		color:#172A88!important;
	}
}
.frame-mu{
	background: url("../img/tsukkomi/balloon_mu.png") no-repeat;
	-webkit-transform: scale(1.0);
	font-size: 35px!important;
	line-height: 180px!important;
}
.frame-niyari{
	background: url("../img/tsukkomi/balloon_niyari.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-noisy{
	background: url("../img/tsukkomi/balloon_noisy.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-normal{
	background: url("../img/tsukkomi/balloon_normal.png") no-repeat;
	-webkit-transform: scale(1.0);
	textarea{
		color:$font-color!important;
	}
}
.frame-shine{
	background: url("../img/tsukkomi/balloon_shine.png") no-repeat;
	-webkit-transform: scale(1.0);
	textarea{
		color:orangered!important;
	}
}
.frame-spiny{
	background: url("../img/tsukkomi/balloon_spiny.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-star{
	background: url("../img/tsukkomi/balloon_star.png") no-repeat;
	-webkit-transform: scale(1.0);
}
.frame-wonder{
	background: url("../img/tsukkomi/balloon_wonder.png") no-repeat;
	-webkit-transform: scale(1.0);
}

.frame-bee{
	background:url("../img/tsukkomi/balloon_bee.png") no-repeat;
}
.frame-gero{
	background:url("../img/tsukkomi/balloon_gero.png") no-repeat;
}
.frame-hun{
	background:url("../img/tsukkomi/balloon_hun.png") no-repeat;
}
.frame-lank1{
	background:url("../img/tsukkomi/balloon_lank1.png") no-repeat;
}
.frame-lank2{
	background:url("../img/tsukkomi/balloon_lank2.png") no-repeat;
}
.frame-lank3{
	background:url("../img/tsukkomi/balloon_lank3.png") no-repeat;
}
.frame-megane{
	background:url("../img/tsukkomi/balloon_megane.png") no-repeat;
}