#header {
	height: 250px;
   margin-bottom:180px
}
#header_s {
   height: 100px;
   margin-bottom:200px
}

.title {
   z-index:6;
   margin:130px 50px 50px;
   width: 540px;
   position: absolute;
   top:170px;
   text-align: center;
   font-size: 20px!important;
   background: #2c1d18;
   -webkit-box-shadow: rgba(44,29,27,0.3) 0 0px 0px;
   -moz-box-shadow: rgba(44,29,27,0.3) 0 0px 0px;
   box-shadow: rgba(44,29,27,0.3) 0 0px 0px;

   h1 {
      font-size: 30px!important;
      color: #fff;
      text-shadow: #222 0 1px 0;
      margin:0px;
      padding: 15px 10px;
      font-weight:bold;
   }
   &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid #2c1d18;
      z-index: 4;
   }
   &:before {
      left: -2em;
      border-right-width: 1.5em;
      border-left-color: transparent;
      -webkit-box-shadow: rgba(44,29,27,0.4) 0px 0px 0px;
      -moz-box-shadow: rgba(44,29,27,0.4) 0px 0px 0px;
      box-shadow: rgba(44,29,27,0.4) 0px 0px 0px;
   }
   &:after {
      right: -2em;
      border-left-width: 1.5em;
      border-right-color: transparent;
      -webkit-box-shadow: rgba(44,29,27,0.4) -0px 0px 0px;
      -moz-box-shadow: rgba(44,29,27,0.4) -0px 0px 0px;
      box-shadow: rgba(44,29,27,0.4) -0px 0px 0px;
   }
   .title-content:before, .title-content:after {
      border-color: #474747 transparent transparent transparent;
      position: absolute;
      display: block;
      border-style: solid;
      bottom: -1em;
      content: '';
      z-index:5
   }
   .title-content:before {
      left: 0;
      border-width: 1em 0 0 1em;
   }
   .title-content:after {
      right: 0;
      border-width: 1em 1em 0 0;
   }
}

.child-page{
   top:40px!important;
}