.tsukkomi {
	.length-10{
		font-size: 71px;
		line-height:90px;		
	}
	.length-9{
		font-size: 71px;
		line-height:90px;		
	}
	.length-8{
		font-size: 89px;
		line-height:90px;		
	}
	.length-7{
		font-size: 89px;
		line-height:90px;
	}
	.length-6{
		font-size: 59px;
	}
	.length-5{
		font-size: 71px;
	}
	.length-4{
		font-size: 82px;
	}
	.length-3{
		font-size: 110px;
	}
}